.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .time {
    font-size: 7vh;
    letter-spacing: 0.5vw;
    margin: 0 0 0.5vw 0;
  }
  .ampm {
    font-size: 2vh;
    margin: 0 0 0.8vw 0;
  }
  .day {
    font-size: 2vh;
  }
}
